body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url('images/mole-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Style for the game UI container */
#hide-board {
  display: none;
  text-align: center; 
}

/* name entry form */
#name-entry {
  border: 2px solid black;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(67, 142, 73, 0.7);
}

#player-name-input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

#submit-name-button {
  padding: 5px 10px;
}

/* Container for header and game info */
#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

/* Game name */
.Gamename {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  color: #f1c40f; /* Yellow color to stand out */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#player-name-display{
  font-size: 22px;
  color: #3498db;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Container for game info */
#info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

/* Timer and Points */
#timer, #points {
  font-size: 22px;
  font-weight: bold;
  color: #e74c3c; /* Red for visibility */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Start button styling */
#start-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Gameboard styling */
#game-board {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px); 
  gap: 5px;
  justify-content: center; 
}

/* Individual cell styling */
.cell {
  width: 80px;
  height: 80px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #333;
  cursor: url('images/hammer.png') 10 10, auto;
}

.mole {
  background-image: url('images/mole.png');
  background-size: cover;
  background-position: center;
  width: 80px;
  height: 80px;
  border-radius: 0;
}

